{% extends "template.html.twig" %}


{% block title %}
	{{ app.session.get('username') }}'s Account
{% endblock %}

{# {% block headerblock %}
	{% include 'header.html.twig' with {'categories': cats } %}
{% endblock %} #}
{% block content %}
	Bienvenue
	{{ app.session.get('username') }}

	<a href="{{ path('addRecipe') }}">Add a recipe</a>
	<p>{{ session.username }}</p>

	<ul>
		{% for recipe in userRecipes %}
			<div id="recipe-card">
				<li>
					<a href="{{ link }}{{ recipe.id_recipes }}">
						<h2>{{ recipe.title }}</h2>
					</a>
				</li>
				<li>
					<p>{{ recipe.content }}</p>
				</li>
				<div>
					<button>Edit</button>
					<button>Delete</button>
				</div>
			</div>
		{% endfor %}
	</ul>
{% endblock %}
