{% extends "template.html.twig" %}


{% block title %}
	{{ app.session.get('username') }}'s Account
{% endblock %}

{# {% block headerblock %}
	{% include 'header.html.twig' with {'categories': cats } %}
{% endblock %} #}
{% block content %}
	Bienvenue
	{{ session.username }}

	<a href="{{ path('addRecipe') }}">Add a recipe</a>
	<p>{{ session.email }}</p>

	<ul>
		{% for recipe in userRecipes %}
			<div id="recipe-card">
				<li>
					<a href="{{ link }}{{ recipe.id_recipes }}">
						<h2>{{ recipe.title }}</h2>
					</a>
				</li>
				<li>
					<p>{{ recipe.content }}</p>
				</li>
				<div>
					<button>

						<a href="{{ path('editRecipe') }}{{ recipe.id_recipes }}">Edit</a>
					</form>
				</button>
				<button>
					<form action="" method="post">
						<a href="{{ link8 }}{{ recipe.id_recipes }}">Delete</a>
					</form>
				</button>
			</div>
		</div>
	{% endfor %}
</ul>{% endblock %}
