{% set home = '/php/marmiton/' %}

<header>
	<div class="logo">
		<a href="{{ home }}"><img src="{{ style }}img/logo.svg" alt="logo la recette"></a>
	</div>
	<form action="{{ path('search') }}" method="GET">
		<input type="search" name="search" placeholder="Search Recipes . . .">
		<button type="submit">X</button>
	</form>
	<nav>
		<ul id="menu-nav">
			<li class="menu-item">
				<a href="#">Nos Catégories</a>
				<ul class="sub-menu">
					{% for categorie in categories %}
						<li>
							<a href="{{ link6 }}{{ categorie.id }}">
								{{ categorie.title }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
			<li class="menu-item">
				<a href="#">Nos Sélections</a>
				<ul class="sub-menu">
					<li>
						<a href="#">Lien sous menu 2</a>
					</li>
					<li>
						<a href="#">Lien sous menu 2</a>
					</li>
					<li>
						<a href="#">Lien sous menu 2</a>
					</li>
					<li>
						<a href="#">Lien sous menu 2</a>
					</li>
				</ul>
			</li>

			<li class="menu-item">
				<a href="#">Contact</a>
				<ul class="sub-menu">
					<li>
						<a href="#">Lien sous menu 4</a>
					</li>
					<li>
						<a href="#">Lien sous menu 4</a>
					</li>
					<li>
						<a href="#">Lien sous menu 4</a>
					</li>
					<li>
						<a href="#">Lien sous menu 4</a>
					</li>
				</ul>
			</li>
			<li class="menu-item">
				<a href="{{path('addRecipe')}}">create recipe</a>
			</li>
		</ul>

	</nav>
	<div id='connect'>
		{% if session.connect %}
			<li>
				<a href="{{path('account')}}">My Account</a>
			</li>
			<span
				class="connect_span">
				{# {{ dump(session.connect) }} #}
				<a href="{{ link4 }}">Se déconnecter</a>
			{% else %}
				<a href="{{ link3 }}">Se connecter</a>
			{% endif %}
		</span>
	</div>
	<div class="burger">
		<img src="{{ style }}img/burger.svg" alt="menu burger">
	</div>
</header>
