{% extends "template.html.twig" %}

{% block title %}
	Bienvenue sur la page d'acceuil
{% endblock %}


{% block content %}
	{# section hero #}
	<section class="hero">
		<div class="container-hero">
			<h1>RECETTE ET CONSEILS DE CHEF POUR LES RÉUSSIR</h1>
		</div>
	</section>

	{# section recette du jour  #}

	<section class="recipe_day">
		<h1>Recette du jour
		</h1>
		<div class="slider_container_cards">
			{% for recipe in recipes %}
				<div class="card_container">

					<div class="card">

						<a href="{{link}}{{recipe.id_recipes}}">
							<div class="img-box">
								<img src="./public/img/{{ recipe.thumbnail }}" alt="{{ recipe.title }}">

							</div>
							<div class="details_recipe">
								<h2>{{recipe.title}}</h2>
								<p>{{recipe.content}}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>


		</div>

	</section>
{% endblock %}
